<div class="container-fluid">
    <div class="row">
      <h2>Educación</h2>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <img id="imgl" class="img-fluid" src="./assets/imagenes/LogoIuteb.webp" alt="Imagen de la escuela 1">
        <h3>Técnico Superior Universitario en Geología y Minas</h3>
        <h4>Instituto Universitario de Tecnologia del Estado Bolivar - Venezuela</h4>
        <h5>13/11/2006 - 20/11/2009</h5>
        <p>El Técnico Superior en Geología y Minas utiliza técnicas de foto interpretación y métodos geofisicos y geoquimicos para la explotaciones geológicas y mineras. Trabaja en los laboratorios de investigación minero-lógicas, en el inventario de recursos minerales en la industria del carbón, realizando labores de perforación, evaluando reservas y desarrollo de la minería.</p>
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal7"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>    
        <app-educacionmodal></app-educacionmodal>
          </div>
    </div>
      </div>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <img id="imgl" class="img-fluid" src="./assets/imagenes/logo-argentina-programa.jpg" alt="Imagen de la escuela 2">
        <h3>Argentina Programa: #SéProgramar</h3>
        <h4>CESSI, Argentina Ministerio del Desarrollo Productivo</h4>
        <h5>02/02/2022 - 31/03/2022</h5>
        <p>#SéProgramar es un curso introductorio en el que se adquieren los fundamentos básicos de la programación para dar los primeros pasos en el mundo tecnológico. Una vez que aprobado, se puede elegir un curso de la segunda etapa de Argentina Programa 4.0 para continuar la formación.</p>
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal7"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>    
        </div>
    </div>
    </div>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <img id="imgl" class="img-fluid" src="./assets/imagenes/logo-argentina-programa.jpg" alt="Imagen de la escuela 3">
        <h3>Argentina Programa: #YoProgramo</h3>
        <h4>CESSI, Argentina Ministerio del Desarrollo Productivo</h4>
        <h5>28/06/2022 - 15/01/2023</h5>
        <p>#YoProgramo es un curso de la segunda etapa de Argentina Programa 4.0 en el que se adquieren las habilidades y herramientas para convertirse en un programador web full-stack junior.</p>
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal7"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>    
        </div>
    </div>
    </div>
    </div>
</div>


