<div class="container-fluid">
    <div class="row">
      <h2>Proyectos</h2>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <h3>Portfolio Web Personal</h3>
        <h5>15/01/2023</h5>
        <p>Aplicación web full stack  que contiene datos personales, estudios cursados, experiencia laboral, habilidades y proyectos realizados, la App permite al usuario acceder a traves de un login y poder realizar la edición de la información, la cual, está enlazada a una base de datos. Realizado como trabajo final integrador TP de la segunda etapa del programa Argentina Programa 4.0.</p>
        <img id="imgl" src="./assets/imagenes/project.png" alt="Imagen de proyecto 1" class="img-fluid">
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal9"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
            <app-proyectosmodal></app-proyectosmodal>  
          </div>
      </div>
    </div>
    </div>
    <div class="position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna">
        <h3>Replica Página Web de Compra</h3>
        <h5>22/10/2022</h5>
        <p>Replica de pagina web para la compra de boletos, que permite seleccionar una categoría de entre varias con diferentes descuentos al precio general y retorna el precio total a pagar dependiendo de la cantidad y categoria antes mencionada. Realizado como trabajo práctico integrador del programa Codo a Codo 4.0.</p>
        <img id="imgl" src="./assets/imagenes/proyecto2.png" alt="Imagen de proyecto 2" class="img-fluid">
        <p>https://enchanting-meringue-1ceb0e.netlify.app/</p>
        <div class="position-absolute top-0 end-0">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#miModal9"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-delete-left"></i></a>
                </div>
      </div>
    </div>
    </div>
</div>
